.description {
  font-size: 14px;
  color: #9198b0;
  margin-bottom: 0;
  padding: 4px 0 0 4px;
}

.group-heading {
  color: #323232;
  font-size: var(--default_font_size_doble);
  font-weight: 700;
  line-height: 25px;
}
.group-member-count {
  color: var(--primary-color);
  font-size: 30px;
}

.group-member {
  font-size: 14px;
  color: #4a4a4a;
}
