<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title></title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
  </style>
</head>
<body
  style="font-family: 'Quicksand',Arial, sans-serif; background-color: #F0F5F5; margin: 0; padding: 0;min-height: 100vh;">
<div style="text-align: center; padding: 5px 0;border-bottom: 1px solid #DADADD;width: 100%;">
  <h1>KryonEO</h1>
</div>
<div style="display: flex; justify-content: center; ">
  <div style="margin: 0 auto;background-color: #F0F5F5;border-radius: 10px;">
    <div style="padding: 25px 15% 40px 15%;">
      <div style="margin-bottom: 20px;">
        <h1 style="margin: 0;padding-bottom: 10px;font-weight: 700;">Hello,</h1>
        <p style="margin: 0;font-weight: 500;"> Your Account Has been created, Please login <a th:with="url=(@{|${baseUrl}/login|})" th:href="${url}" th:text="here">here</a> with below details</p>
        <p style="margin: 0;font-weight: 500;"> Account Details : </p>
        <p style="margin: 0;font-weight: 500;"> User Name: <span th:text="${email_id}"> email</span> </p>
        <p style="margin: 0;font-weight: 500;"> Temporary Password: <span th:text="${temp_password}"> email</span> </p>
      </div>
      <p style="margin: 0;padding-bottom: 5px;font-weight: 500;font-size: 16px;">Thank You!</p>
      <p style="margin: 0;font-weight: 700;font-size: 16px;">Kryon EO Team</p>
    </div>
  </div>
</div>
</body>
</html>
